<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero nemo laboriosam beatae ut enim tempore temporibus, ipsa repellendus, odit dolores ipsum id. Unde possimus quas pariatur similique impedit fuga ut laborum sequi molestias ab odit repudiandae deserunt alias totam numquam in autem quis aspernatur expedita, voluptatibus vel. Debitis laudantium delectus pariatur accusamus neque numquam officia exercitationem laboriosam quod! Laudantium voluptates placeat repudiandae delectus nihil nisi, omnis inventore doloribus unde excepturi voluptas tenetur ratione similique veniam, commodi, ad aut? Dicta, aspernatur.</p>
</article>