<div class="container">
    <h1>Proyectos</h1>

    <ul>
        <li *ngFor="let project of projects" class="project">
            <a [routerLink]="['/proyecto', project._id]">
                <div class="image">
                    <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image" style="width: 300px;" />
                </div>
                <h3>{{project.name}}</h3>
                <span id="span_category">{{project.category}}</span>
                <p>{{project.descripcion}}</p>
            </a>
        </li>
    </ul>
</div>